*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI', sans-serif;

  height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:
    linear-gradient(
      135deg,
      #2563eb,
      #38bdf8,
      #60a5fa
    );
}

.login-container{

  width:100%;
  max-width:400px;

  background:white;

  padding:40px;

  border-radius:20px;

  box-shadow:
    0 20px 50px rgba(0,0,0,0.25);

}

h1{

  text-align:center;

  margin-bottom:30px;

  color:#1e293b;
}

form{

  display:flex;

  flex-direction:column;

  gap:18px;
}

input{

  padding:14px;

  border-radius:10px;

  border:1px solid #cbd5e1;

  font-size:16px;

  outline:none;
}

input:focus{

  border-color:#2563eb;
}

button{

  padding:14px;

  border:none;

  border-radius:10px;

  background:
    linear-gradient(
      90deg,
      #2563eb,
      #38bdf8
    );

  color:white;

  font-size:16px;

  font-weight:bold;

  cursor:pointer;

  transition:0.3s;
}

button:hover{

  transform:translateY(-2px);

  opacity:0.9;
}

@media(max-width:480px){

  .login-container{

    margin:15px;

    padding:30px 20px;
  }

}