*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;

    background:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('logo1.png');

    background-size:cover;
    background-position:center;

    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
}

/* CONTENIDO */
.contenido{
    text-align:center;

    backdrop-filter:blur(5px);

    background:rgba(0,0,0,0.35);

    padding:50px;

    border-radius:25px;

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:
        0 0 30px rgba(0,212,255,0.3),
        0 0 60px rgba(255,140,0,0.2);
}

/* TITULO */
.contenido h1{
    font-size:4rem;

    color:#ffcc00;

    text-shadow:
        0 0 15px #ffcc00,
        0 0 35px orange;

    margin-bottom:20px;

    animation:brillo 2s infinite alternate;
}

@keyframes brillo{

    from{
        text-shadow:
        0 0 10px #ffcc00,
        0 0 25px orange;
    }

    to{
        text-shadow:
        0 0 20px #ffcc00,
        0 0 45px orange;
    }
}

/* TEXTO */
.contenido p{
    font-size:1.2rem;

    color:#ddd;

    max-width:700px;

    margin-bottom:35px;
}

/* ICONOS */
.iconos{
    display:flex;
    justify-content:center;
    gap:30px;

    font-size:4rem;

    margin-bottom:35px;

    animation:flotar 3s ease-in-out infinite;
}

@keyframes flotar{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-10px);
    }
}

/* BOTON */
.btn{
    display:inline-block;

    padding:15px 35px;

    border-radius:50px;

    background:linear-gradient(90deg,#00d4ff,#0077ff);

    color:white;

    text-decoration:none;

    font-weight:bold;

    transition:0.3s;

    box-shadow:0 0 20px #00d4ff;
}

.btn:hover{
    transform:scale(1.05);

    box-shadow:
        0 0 20px #00d4ff,
        0 0 40px #00d4ff;
}

/* CINTAS */
.cinta{
    position:absolute;

    width:120%;

    padding:15px;

    background:
    repeating-linear-gradient(
        45deg,
        #ffcc00,
        #ffcc00 20px,
        black 20px,
        black 40px
    );

    color:black;

    font-weight:800;

    text-align:center;
}

.cinta-top{
    top:40px;

    transform:rotate(-3deg);
}

.cinta-bottom{
    bottom:40px;

    transform:rotate(3deg);
}